body{
  background-color: yellow;
}

.box {
  background-color: gray;
  width:200px;
  height:180px;
  border-width: 3px;
  border-color: red;
  border-style: dotted;
}
.title {
  background-color: green;
}

.description{
  background-position: pink;
}
